In [2]:
# importing the packages
%matplotlib inline      
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
try:
    connection = psycopg2.connect(user = "spyfu",
                                  password = "SpyfuU$3r",
                                  host = "18.219.13.131",
                                  port = "5432",
                                  database = "spyfu")
    cursor = connection.cursor()
except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL ", error)
else:
    print("Connection established")

Connection established

In [4]:
cursor.execute("select uuid, mcid, count(*) as count from click_agg_poc where uuid!='undefined' GROUP BY uuid, mcid order by uuid, count DESC")
res = cursor.fetchall()
print(len(res))

158015

In [5]:
res = pd.DataFrame(res)
res.columns = ['UUID','MCID','Count']
res.head(10)

                               UUID   MCID  Count
0                  00014d2471b8a6d4    368      1
1                  00022a4a1d61367d  32644      1
2                  0002b152d513495e    633      9
3                  00033b01e49f7f3a     89      1
4                  0003d8b9b67dc902     87      5
5  00055FD181EF44208FCB6C2ECDEAEC84  32644      1
6                  00059604b0412daa    282      1
7  00065404E3634A29B59B57CD8F8349A0    337      1
8                  0006ea34ea6d3a96     87      1
9                  0008c917b7875b94     87      2

In [6]:
res.head()

               UUID   MCID  Count
0  00014d2471b8a6d4    368      1
1  00022a4a1d61367d  32644      1
2  0002b152d513495e    633      9
3  00033b01e49f7f3a     89      1
4  0003d8b9b67dc902     87      5

In [7]:
res[res['UUID']=='1CFB5C1DCD9D49A6B10ACB67B686757B']

                                   UUID   MCID  Count
13759  1CFB5C1DCD9D49A6B10ACB67B686757B  40442     16
13760  1CFB5C1DCD9D49A6B10ACB67B686757B     89     14
13761  1CFB5C1DCD9D49A6B10ACB67B686757B    337     12
13762  1CFB5C1DCD9D49A6B10ACB67B686757B    480      8
13763  1CFB5C1DCD9D49A6B10ACB67B686757B    282      5
13764  1CFB5C1DCD9D49A6B10ACB67B686757B    368      5
13765  1CFB5C1DCD9D49A6B10ACB67B686757B     87      4
13766  1CFB5C1DCD9D49A6B10ACB67B686757B    633      4
13767  1CFB5C1DCD9D49A6B10ACB67B686757B   5926      4
13768  1CFB5C1DCD9D49A6B10ACB67B686757B     85      2
13769  1CFB5C1DCD9D49A6B10ACB67B686757B    628      1
13770  1CFB5C1DCD9D49A6B10ACB67B686757B  32644      1

In [8]:
res['UUID'].value_counts()

1CFB5C1DCD9D49A6B10ACB67B686757B    12
b89ad773d08b68ea                     8
25d606c002f488b3                     7
e8a9a406905e5972                     7
87bdce40e532280d                     6
3f4e37b08f6a2589                     6
22dff8083b7eb42b                     6
7ea19cc1b3983859                     6
2fa36dd521b54788                     6
421973975339222e                     6
daaac41af0032781                     6
13279265311a2ba7                     6
0c24cdeeaffc5378                     6
9427ee08e1f0aef8                     6
fe10365ec99b8aeb                     5
a0fbef64886e9714                     5
5e48888a1777b2f8                     5
e770dafae243ac6                      5
a00a51a392a6e945                     5
14ab02c9ccbc2d2d                     5
a6fdec4308c2f117                     5
29012789afe0813f                     5
8ed93dd7dafdcd61                     5
89c2680b5230d5ef                     5
8ff237d939d8523a                     5
7ccefd80a0cdbe95                     5
61d0c6697e0f7df9                     5
c5c0e4ddcac51bf1                     5
024a390885b5f6f6                     5
00ee38d97d97afde                     5
                                    ..
43f39f44c7158921                     1
3c547a91b0d686a5                     1
a696887e15e4a653                     1
67545B709DAD4038B834A9982C984033     1
77938edfdb15008d                     1
c84359efe77d10ab                     1
7b5e289bc5e85f25                     1
be876d583d98afad                     1
0f8aa98bcbb3f03b                     1
f473bf6b81df3664                     1
c5f41cad66ddd11c                     1
111ae5d20389f430                     1
5adc443e84610eb4                     1
74c65d810612425e                     1
e02a8fd3fff07acd                     1
c318e59b5696c97f                     1
c860bd5c5194e168                     1
0731fb9e788c652b                     1
be531199c0f98869                     1
f0ed062d3b10b532                     1
3fe38544ccc588ff                     1
e8514db34c72654f                     1
5d8f3c30b9dd1c0                      1
49944e28fdd63d7c                     1
9284821173a8412d                     1
f215c80e63767de0                     1
5aa59f74a56cd975                     1
a7d14bae94c1f6a5                     1
389730b02e3bcbc0                     1
3856255b07791453                     1
Name: UUID, Length: 142474, dtype: int64

In [9]:
cat = pd.read_csv("category_soka.csv")
cat = cat[['id','name']]
cat = pd.DataFrame(cat)
cat.columns = ['MCID','Name']
cat.head(10)

   MCID               Name
0    -1        Offers Page
1     0          Home Page
2    85          Computers
3    86  Kitchen Maha Mela
4    87            Fashion
5    89           Footwear
6    90   Women's Clothing
7    92        Hair Dryers
8    93      Books & Media
9    95       Gift Hampers

In [10]:
result = pd.merge(res, cat, on='MCID')
result = pd.DataFrame(result)

In [11]:
result.head(10)

                               UUID  MCID  Count        Name
0                  00014d2471b8a6d4   368      1  Appliances
1                  007cd84350f0ce9d   368      1  Appliances
2  007D3DD33E524AA4A8FA62E2C86CDFE9   368      2  Appliances
3                  008ed48a15715b93   368      1  Appliances
4                  00b1d68f1cb090cf   368      1  Appliances
5                  01406bc285abb4c3   368      1  Appliances
6                  0147b8f53a902060   368      1  Appliances
7                  016898623ce7b967   368      1  Appliances
8                  016e959e17a0015c   368      1  Appliances
9                  01c9318bbc801a87   368      1  Appliances

In [12]:
result.shape

(158015, 4)

In [13]:
new = result.groupby(result.UUID)
print(new)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001DA21889B38>

In [14]:
category = new.apply(lambda x:sum(x['Count']))
category = pd.DataFrame(category)
category.columns = ['Count']
print(category)

                                  Count
UUID
00014d2471b8a6d4                      1
00022a4a1d61367d                      1
0002b152d513495e                      9
00033b01e49f7f3a                      1
0003d8b9b67dc902                      5
00055FD181EF44208FCB6C2ECDEAEC84      1
00059604b0412daa                      1
00065404E3634A29B59B57CD8F8349A0      1
0006ea34ea6d3a96                      1
0008c917b7875b94                      2
0009dfa36b594ca7                      1
000A96EBA60F49A7981EDF3732E37B6C      1
000ACA38155E4E5ABEBFD9511D1A10AB      1
000C741CC20341929A0AA150AF51327D      1
000C96A9545B4226B8C1A460B9FF12DF      1
000DC9D7B05B4CF3AB93D7F1CA5E15BF      1
000aee493126aa46                      1
000b22ea82261754                      1
000b60047b3d7811                      1
000ba22d0a534177                      1
000bf372c0a3234e                      1
000cfeb09958b1ae                      3
000d2b0d80640b4e                      1
000db919bf2c8fe5                      1
000dbad372e6807d                      2
000f015a33d993b0                      1
000fe7fe7667cbee                      1
00102010D8E94F7CB7344E9C59D86564      1
0010886E10CD48579C38A5FD1C94496D      1
0011277ea1fe1536                      1
...                                 ...
fff2537b5b861847                      1
fff2e7ae293c5fa1                      1
fff305d1894bc013                      1
fff3167c83e5d9c5                      1
fff386726f251782                      1
fff3cd9c70c442b                       1
fff411ae811e32dc                      1
fff4da77e7afd732                      1
fff5c7c52745ce76                      1
fff61eb8b5b9f6af                      1
fff6cfbb15d6c7bc                      1
fff6f796b54f4e98                      1
fff761ebc7348512                      1
fff77927f1831e60                      1
fff7cb1a3695e6d3                      3
fff84de754cb5e44                      3
fff928c55deb0ec0                      1
fff99388a4b34ad1                      2
fff9e6454bbdcbc1                      2
fffa3e0f8463e880                      1
fffa8c2d4ef75336                      1
fffadfda4de181c7                      2
fffb6c23c044105b                      3
fffc977d458a46d9                      1
fffcaaba737f0b83                      1
fffd07e88e66446d                      1
fffda380562b1482                      2
fffe045b758868e1                      2
fffeead249ef4c8e                      2
fffeeeded950732d                      1

[142474 rows x 1 columns]

In [15]:
top = category.sort_values(by = ['Count'], ascending = False)
print(top)

                                  Count
UUID
63f8e0fc8af6ce18                    349
1CFB5C1DCD9D49A6B10ACB67B686757B     76
527b87f3aa5f7f3f                     74
421973975339222e                     73
5f95920b82cf7a68                     65
d17c6a0b0647b8a3                     64
04302c6f6b943de8                     54
be8c9cf788e6768e                     51
7809e26eb105904b                     48
3472654434F641A285345B7D3A9F2BC3     47
ca55d6dbaabe6860                     46
fd7951feab742a57                     42
5772fffeed43fe99                     42
a20379f527f32d2c                     41
9b0625d28fe44294                     40
65ba7524f6412870                     40
7be3450e40c892b5                     39
786b77affa0799ce                     38
6dbb8b5238d74956                     38
d9f69b3b1b732b90                     37
91b9ac6043c093cf                     37
3713b8b8927f4090                     35
bf0651e3e05a71b8                     34
14355210dbe4a88f                     33
5892cb3df7d7e31f                     32
44ddcab9149bda0e                     32
844ef5358befc81d                     31
014ad5ce8d2aa767                     31
22d7f62f8eb9da3c                     30
1c58882c9388219d                     30
...                                 ...
6adfa96f6322d6e9                      1
6adf836461534770                      1
6aec78c03a9a47a9                      1
6af1881dc16e8cc3                      1
6af191502ca55bb3                      1
6af1dd9ebe410334                      1
6afd76a3b18179e1                      1
6afcb4d93178c27c                      1
6afcb3bd2e49da14                      1
6afc8bcf67855265                      1
6afaf7bd2af14238                      1
6afa49388c48e480                      1
6af99466d1140c6a                      1
6af924108f159b98                      1
6af78e3b9e6de803                      1
6af75038788460f3                      1
6af70e7d9ffd48e2                      1
6af70b6b87faaba5                      1
6af67ff28f3126f6                      1
6af66ead1285f3c3                      1
6af5f4b365b6ec89                      1
6af3ec953388107                       1
6af38d9636e52b20                      1
6af35a6e41a0fec7                      1
6af34c0f16071a4f                      1
6af2d52d5f66bd7d                      1
6af2a1a3257291bd                      1
6af1ec786c1a5f86                      1
6af1ea734765d592                      1
fffeeeded950732d                      1

[142474 rows x 1 columns]

In [16]:
x = top.head(10)
print(x)

                                  Count
UUID
63f8e0fc8af6ce18                    349
1CFB5C1DCD9D49A6B10ACB67B686757B     76
527b87f3aa5f7f3f                     74
421973975339222e                     73
5f95920b82cf7a68                     65
d17c6a0b0647b8a3                     64
04302c6f6b943de8                     54
be8c9cf788e6768e                     51
7809e26eb105904b                     48
3472654434F641A285345B7D3A9F2BC3     47

In [17]:
type(x)

pandas.core.frame.DataFrame

In [18]:
for i in x.index:
    print(i)

63f8e0fc8af6ce18
1CFB5C1DCD9D49A6B10ACB67B686757B
527b87f3aa5f7f3f
421973975339222e
5f95920b82cf7a68
d17c6a0b0647b8a3
04302c6f6b943de8
be8c9cf788e6768e
7809e26eb105904b
3472654434F641A285345B7D3A9F2BC3

In [19]:
top = {}
for i in x.index:
    top.update({i:{}})
print(top)
print(len(top))

{'63f8e0fc8af6ce18': {}, '1CFB5C1DCD9D49A6B10ACB67B686757B': {}, '527b87f3aa5f7f3f': {}, '421973975339222e': {}, '5f95920b82cf7a68': {}, 'd17c6a0b0647b8a3': {}, '04302c6f6b943de8': {}, 'be8c9cf788e6768e': {}, '7809e26eb105904b': {}, '3472654434F641A285345B7D3A9F2BC3': {}}
10

In [20]:
for x in new:
    if(x[0] in top):
        name = list(x[1]['Name'])
        count = list(x[1]['Count'])
        Name = []
        for i in range(len(name)):
            if(name[i] not in Name):
                Name.append(name[i])
                top[x[0]].update({name[i]:count[i]})
            else:
                c = top[x[0]][name[i]] + count[i]
                top[x[0]][name[i]] = c

In [21]:
print(top)

{'63f8e0fc8af6ce18': {'Fashion': 273, 'Jewelry & Watches': 76}, '1CFB5C1DCD9D49A6B10ACB67B686757B': {'Appliances': 5, 'Mobile & Laptop Accessories': 1, 'Toys, Baby & Kids': 4, 'Footwear': 14, 'Fashion': 4, 'Jewelry & Watches': 5, 'Home & Kitchen': 12, 'Automotive': 1, 'Computers': 2, 'Sports & Health': 16, 'Beauty & Perfumes': 8, 'Bags & Luggage': 4}, '527b87f3aa5f7f3f': {'Home & Kitchen': 74}, '421973975339222e': {'Toys, Baby & Kids': 2, 'Footwear': 24, 'Fashion': 6, 'Jewelry & Watches': 32, 'Home & Kitchen': 4, 'Mobiles & Tablets': 5}, '5f95920b82cf7a68': {'Fashion': 65}, 'd17c6a0b0647b8a3': {'Toys, Baby & Kids': 63, 'Sports & Health': 1}, '04302c6f6b943de8': {'Fashion': 53, 'Bags & Luggage': 1}, 'be8c9cf788e6768e': {'Home & Kitchen': 51}, '7809e26eb105904b': {'Fashion': 2, 'Home & Kitchen': 46}, '3472654434F641A285345B7D3A9F2BC3': {'Mobile & Laptop Accessories': 12, 'Jewelry & Watches': 15, 'Home & Kitchen': 5, 'Computers': 15}}

In [22]:
x = ['U1','U2','U3','U4','U5','U6','U7','U8','U9','U10']
print(len(x))

10

In [23]:
v = list(top.values())
for i in range(len(x)):
    print(v[i])

{'Fashion': 273, 'Jewelry & Watches': 76}
{'Appliances': 5, 'Mobile & Laptop Accessories': 1, 'Toys, Baby & Kids': 4, 'Footwear': 14, 'Fashion': 4, 'Jewelry & Watches': 5, 'Home & Kitchen': 12, 'Automotive': 1, 'Computers': 2, 'Sports & Health': 16, 'Beauty & Perfumes': 8, 'Bags & Luggage': 4}
{'Home & Kitchen': 74}
{'Toys, Baby & Kids': 2, 'Footwear': 24, 'Fashion': 6, 'Jewelry & Watches': 32, 'Home & Kitchen': 4, 'Mobiles & Tablets': 5}
{'Fashion': 65}
{'Toys, Baby & Kids': 63, 'Sports & Health': 1}
{'Fashion': 53, 'Bags & Luggage': 1}
{'Home & Kitchen': 51}
{'Fashion': 2, 'Home & Kitchen': 46}
{'Mobile & Laptop Accessories': 12, 'Jewelry & Watches': 15, 'Home & Kitchen': 5, 'Computers': 15}

In [24]:
final = {}
v = list(top.values())
for i in range(len(x)):
    final.update({x[i]:v[i]})
print(final)

{'U1': {'Fashion': 273, 'Jewelry & Watches': 76}, 'U2': {'Appliances': 5, 'Mobile & Laptop Accessories': 1, 'Toys, Baby & Kids': 4, 'Footwear': 14, 'Fashion': 4, 'Jewelry & Watches': 5, 'Home & Kitchen': 12, 'Automotive': 1, 'Computers': 2, 'Sports & Health': 16, 'Beauty & Perfumes': 8, 'Bags & Luggage': 4}, 'U3': {'Home & Kitchen': 74}, 'U4': {'Toys, Baby & Kids': 2, 'Footwear': 24, 'Fashion': 6, 'Jewelry & Watches': 32, 'Home & Kitchen': 4, 'Mobiles & Tablets': 5}, 'U5': {'Fashion': 65}, 'U6': {'Toys, Baby & Kids': 63, 'Sports & Health': 1}, 'U7': {'Fashion': 53, 'Bags & Luggage': 1}, 'U8': {'Home & Kitchen': 51}, 'U9': {'Fashion': 2, 'Home & Kitchen': 46}, 'U10': {'Mobile & Laptop Accessories': 12, 'Jewelry & Watches': 15, 'Home & Kitchen': 5, 'Computers': 15}}

In [25]:
FavCategory = pd.DataFrame()
FavCategory['User'] = list(final.keys())
FavCategory['Favourite'] = list(final.values())

In [27]:
print(FavCategory)

  User                                          Favourite
0   U1          {'Fashion': 273, 'Jewelry & Watches': 76}
1   U2  {'Appliances': 5, 'Mobile & Laptop Accessories...
2   U3                             {'Home & Kitchen': 74}
3   U4  {'Toys, Baby & Kids': 2, 'Footwear': 24, 'Fash...
4   U5                                    {'Fashion': 65}
5   U6    {'Toys, Baby & Kids': 63, 'Sports & Health': 1}
6   U7               {'Fashion': 53, 'Bags & Luggage': 1}
7   U8                             {'Home & Kitchen': 51}
8   U9               {'Fashion': 2, 'Home & Kitchen': 46}
9  U10  {'Mobile & Laptop Accessories': 12, 'Jewelry &...

In [28]:
FavCategory = FavCategory.set_index('User')
print(FavCategory)

                                              Favourite
User
U1            {'Fashion': 273, 'Jewelry & Watches': 76}
U2    {'Appliances': 5, 'Mobile & Laptop Accessories...
U3                               {'Home & Kitchen': 74}
U4    {'Toys, Baby & Kids': 2, 'Footwear': 24, 'Fash...
U5                                      {'Fashion': 65}
U6      {'Toys, Baby & Kids': 63, 'Sports & Health': 1}
U7                 {'Fashion': 53, 'Bags & Luggage': 1}
U8                               {'Home & Kitchen': 51}
U9                 {'Fashion': 2, 'Home & Kitchen': 46}
U10   {'Mobile & Laptop Accessories': 12, 'Jewelry &...

In [29]:
Fav = []
for i in FavCategory['Favourite']:
    ss =  sorted(i.items(), key=lambda x: x[1], reverse = True)
    Fav.append(ss)
print(Fav)

[[('Fashion', 273), ('Jewelry & Watches', 76)], [('Sports & Health', 16), ('Footwear', 14), ('Home & Kitchen', 12), ('Beauty & Perfumes', 8), ('Appliances', 5), ('Jewelry & Watches', 5), ('Toys, Baby & Kids', 4), ('Fashion', 4), ('Bags & Luggage', 4), ('Computers', 2), ('Mobile & Laptop Accessories', 1), ('Automotive', 1)], [('Home & Kitchen', 74)], [('Jewelry & Watches', 32), ('Footwear', 24), ('Fashion', 6), ('Mobiles & Tablets', 5), ('Home & Kitchen', 4), ('Toys, Baby & Kids', 2)], [('Fashion', 65)], [('Toys, Baby & Kids', 63), ('Sports & Health', 1)], [('Fashion', 53), ('Bags & Luggage', 1)], [('Home & Kitchen', 51)], [('Home & Kitchen', 46), ('Fashion', 2)], [('Jewelry & Watches', 15), ('Computers', 15), ('Mobile & Laptop Accessories', 12), ('Home & Kitchen', 5)]]

In [30]:
FavCategory['Favourite'] = Fav

In [31]:
print(FavCategory)

                                              Favourite
User
U1            [(Fashion, 273), (Jewelry & Watches, 76)]
U2    [(Sports & Health, 16), (Footwear, 14), (Home ...
U3                               [(Home & Kitchen, 74)]
U4    [(Jewelry & Watches, 32), (Footwear, 24), (Fas...
U5                                      [(Fashion, 65)]
U6      [(Toys, Baby & Kids, 63), (Sports & Health, 1)]
U7                 [(Fashion, 53), (Bags & Luggage, 1)]
U8                               [(Home & Kitchen, 51)]
U9                 [(Home & Kitchen, 46), (Fashion, 2)]
U10   [(Jewelry & Watches, 15), (Computers, 15), (Mo...

In [32]:
def findFav(x):
    p = FavCategory[FavCategory.index==x]
    print('Favourite Categories with Count:')
    for i,j in p['Favourite'].items():
            for x in j:
                print(x[0],'->',x[1])

In [33]:
findFav('U1')

Favourite Categories with Count:
Fashion -> 273
Jewelry & Watches -> 76

In [41]:
t = []
for i,j in FavCategory['Favourite'].items():
        t.append(j[0][0])
print(t)

['Fashion', 'Sports & Health', 'Home & Kitchen', 'Jewelry & Watches', 'Fashion', 'Toys, Baby & Kids', 'Fashion', 'Home & Kitchen', 'Home & Kitchen', 'Jewelry & Watches']

In [42]:
final = pd.DataFrame(columns = ['User','FavCat'])
final

Empty DataFrame
Columns: [User, FavCat]
Index: []

In [43]:
final['User'] = FavCategory.index
final['FavCat'] = t
final

  User             FavCat
0   U1            Fashion
1   U2    Sports & Health
2   U3     Home & Kitchen
3   U4  Jewelry & Watches
4   U5            Fashion
5   U6  Toys, Baby & Kids
6   U7            Fashion
7   U8     Home & Kitchen
8   U9     Home & Kitchen
9  U10  Jewelry & Watches